@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Quicksand:wght@300;400;500;700&display=swap');
:root {
  // COLORS
  --pink: #FAEEE5;
  --pink-light: #BCB5B5;
  --pink-light-2: ##FAEEE5;
  --black: #000000;
  --grey: #707070;
  --brown: #ca8661;
  // FONTS
  --main-font: 'Quicksand', sans-serif;
  --secundary-font: 'Corinthia', cursive;
}
body {
  font-family: var(--main-font)
}
.botao-comprar {
  box-shadow: 0px 3px 6px #00000029!important;
  border-radius: 6px!important;
}
.content-center {
  max-width: 1270px;
  margin: 0 auto;
}
