.pagina-categoria {
  h2.logo {
    display: none;
  }
  .conteiner-principal {
    padding-top: 192px;
  }
  .conteiner {
    .breadcrumbs {
      display: none;
    }
  }
  .secao-principal {
    padding: 40px 0 0 0;
    .conteudo {
      .content-top-category {
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 8px;
        margin-bottom: 40px;
        .titulo {
          margin: 0;
          font-size: 60px;
          font-family: var(--secundary-font);
          color: var(--brown);
        }
        .ordenar-listagem {
          .input-append {
            border: 1px solid var(--grey);
            border-right: 0;
            background: transparent;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          label[for="botaoOrdenar"] {
            padding: 0 10px;
            display: block;
            color: var(--grey);
            font-size: 16px;
            font-family: var(--main-font);
          }
          .btn-group {
            border-right: 1px solid var(--grey);
            border-left: 0;
            button {
              font-family: var(--main-font);
              padding: 0 15px;
              height: 32px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: var(--black);
              background: url("https://cdn.awsli.com.br/2444/2444356/arquivos/seta_ordenar_por.svg")
                center center no-repeat;
              background-size: 40%;
              i {
                display: none;
              }
            }
            .dropdown-menu {
              left: -155px;
            }
          }
        }
      }
      #listagemProdutos {
        z-index: 2;
        ul {
          li.listagem-linha {
            > ul.row-fluid {
              li {
                border: 0 !important;
                border-color: 0 !important;
                .listagem-item {
                  border-color: transparent !important;
                  .imagem-produto {
                    position: relative;
                    padding: 0;
                    display: block;
                    img {
                      &:nth-of-type(1) {
                        z-index: 2;
                      }
                      &:nth-of-type(2) {
                        position: absolute !important;
                        z-index: 1;
                      }
                    }
                  }
                  &:hover {
                    .has-zoom {
                      img {
                        &:nth-of-type(1) {
                          opacity: 0;
                        }
                        &:nth-of-type(2) {
                          opacity: 1;
                        }
                      }
                    }
                  }
                  .acoes-produto {
                    > a {
                      width: 80%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .menu.lateral .ativo{
      background-color: transparent!important;
    }
    .menu.lateral {
      .nivel-um {
        li {
          border: 0;
          &:not(.com-filho) {
            a {
              border: 0;
              strong {
                color: var(--brown);
              }
            }
          }
        }
        .ativo {
          > a {
            background-color:transparent!important;
          }
        }
        .com-filho {
          background-color: transparent;
          > a {
            background-color: transparent !important;
            color: var(--brown) !important;
            border: 0;
            &::before {
              display: none;
            }
          }
          > ul.nivel-dois {
            border: 0;
            li {
              border: 0;
              a {
                padding: 10px 20px;
                color: var(--black);
              }
            }
          }
        }
      }
    }
    
    .filtro-coluna {
      .titulo {
        color: var(--brown) !important;
        &:before {
          display: none !important;
        }
      }
      ul {
        border: 0;
        li {
          border: 0;
          a {
            background: transparent !important;
            label {
              color: var(--black) !important;
            }
          }
        }
      }
      .atributo-comum {
        ul {
          a {
            border-radius: 50% !important;
            color: var(--black) !important;
            width: 32px;
            height: 32px;
            border: 1px solid var(--grey) !important;

            span {
              padding: 0;
            }
            &:hover {
              span {
                color: var(--grey) !important;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .secao-principal {
    padding: 40px 0 0 0;
    .conteudo {
      .content-top-category {
        padding: 0 10px;
        justify-content: space-around;
        width: 81%;
        margin: 0 auto;
        .titulo {
          width: 100%;
          margin-bottom: 20px !important;
        }
        .ordenar-listagem {
          padding: 0;
          font-weight: 600;
        }
        .filter-toggle {
          float: none;
          margin: 0 !important;
          background: transparent;
          color: var(--grey);
          border: 1px solid var(--grey);
        }
      }
      #listagemProdutos {
        margin: 0;
        padding: 0 20px;
        > ul {
          padding-left: 0 !important;
          > li.listagem-linha {
            > ul {
              padding-left: 0 !important;
              display: flex;
              flex-wrap: wrap;
              gap: 5px;
              justify-content: space-between;
              &::before {
                display: none;
              }
              &::after {
                display: none;
              }
              li {
                width: calc(50% - 15px);
                margin: 0 0 20px 0;
              }
            }
          }
        }
      }
    }
    .coluna.span3.open {
      top: 0;
      position: fixed;
      background: #fff;
      z-index: 1000;
      width: 80vw;
      height: 80vh;
      overflow-y: auto;
      padding: 10px;
      box-shadow: 0px 3px 6px #00000029;
      .top-filter {
        width:100%;
        padding: 5px 0;
        border-bottom: 1px solid var(--grey);
        display: flex;
        justify-content: space-between;
        align-items:center;
        p {
          font-size: 20px;
          color: var(--grey);
          margin: 0;
        }
        span {
          width: 30px;
          height: 30px;
          background: url('https://cdn.awsli.com.br/2444/2444356/arquivos/btn_close.svg') center center no-repeat;
        }      
      }
    }
  }
}
