#corpo .listagem .listagem-item .imagem-produto {
  display: initial;
}

#listagemProdutos {
  position: relative;
  .titulo-categoria {
    font-family: var(--secundary-font);
    text-align: center;
    color: var(--brown) !important;
    font-size: 60px !important;
    margin-top: 0 !important;
    font-weight: 500 !important;
    padding-left: auto !important;
    pointer-events: none;
    &:hover {
      padding-left: auto !important;
    }
    &:nth-of-type(1) {
      padding-left: auto !important;
      margin-top: -39px !important;
    }
  }
  .listagem-linha {
    .slick-slide {
      > div {
        display: flex !important;
        justify-content: center !important;
      }
    }
    .listagem-item {
      max-width: 244px;
      padding: 0;
      border-bottom: 1px solid var(--pink);
      > div.imagem-produto {
        height: auto !important;

        img {
          position: relative !important;
          width: 100%;
          object-fit: unset;
        }
      }
      .info-produto {
        a.nome-produto {
          text-align: center;
          color: #131313;
          font-size: 16px;
          padding: 0;
          margin: 0 0 16px 0;
          min-height: auto;
        }
        .preco-produto {
          flex-direction: column !important;
          > div {
            text-align: center;
            &:nth-of-type(1) {
              span,
              strong {
                font-size: 12px !important;
                color: #131313 !important;
              }
            }
            &:nth-of-type(2) {
              margin-bottom: 8px;
              strong {
                font-size: 20px !important;
                color: #131313 !important;
                font-weight: 600;
                font-family: var(--main-font);
              }
            }
          }
        }
      }
      .acoes-produto {
        a.botao-comprar {
          top: calc(100% - 50px);
          background: var(--brown) !important;
          padding: 5px 40px;
          font-size: 13px;
          width: 200px;
          height: 48px;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0;
          &:after {
            content: "COMPRAR";
            font-size: 13px;
          }
        }
      }
      .bandeiras-produto {
        > span {
          background-color: var(--brown) !important;
        }
      }
    }
  }
}
//TESTE
.listagem-vitrine-lancamentos {
  position: relative;
  margin: 0 auto;
  > h1 {
    font-family: var(--secundary-font);
    text-align: center;
    color: var(--brown) !important;
    font-size: 60px !important;
    margin-top: 0 !important;
    font-weight: 500 !important;
    padding-left: auto !important;
    pointer-events: none;
    display: block !important;
    margin-top: -20px !important;
    margin-bottom: 30px;
  }
  > div {
    width: 1270px;
    ul.slides {
      display: flex;
      li {
        float: none !important;
        clear: both;
        padding: 35px;
        > div {
          border-bottom: 1px solid rgba($color: #ca8661, $alpha: .5);
          padding-bottom: 10px;
        }
        .bandeiras-produto {
          top: 50px;
          left: 35px;
          z-index: 10;
          padding: 5px;
          background: var(--brown);
          span {
            display: inline-block;
            padding: 0 10px;
            line-height: 17px;
            color: #FFF;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
            font-family: var(--main-font);
            margin: 0;
            border: 0;
            box-sizing: border-box;
            box-shadow: 0 0 0 transparent;
            white-space: nowrap;
          }
        }
        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: all 0.5s ease;
          &:hover {
            .acoes-produto {
              pointer-events: auto;
              opacity: 1;
            }
          }
          .imagem-produto {
            width: 100%!important;
            margin-bottom: 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
              width: 100%;
            }
          }
          .has-zoom {
            &:hover {
              img {
                &:nth-of-type(1) {
                  opacity: 0;
                }
                &:nth-of-type(2) {
                  opacity: 1;
                }
              }
            }
            img {
              &:nth-of-type(1) {
                position: relative;
                z-index: 1;
              }
              &:nth-of-type(2) {
                position: absolute;
                z-index: 2;
                opacity: 0;
              }
            }
          }
          .info-produto {
            a {
              font-size: 16px;
              color: #131313;
              font-family: var(--main-font);
              margin-bottom: 16px;
              display: block;
            }
            .preco-produto {
              display: flex;
              flex-direction: column-reverse;
              align-items: center;
              > div {
                &:nth-of-type(1) {
                  margin-bottom: 10px;
                  .preco-parcela {
                    font-size: 12px;
                    font-family: var(--main-font);
                    color: #131313;
                    strong {
                      font-size: 12px !important;
                    }
                  }
                }
                &:nth-of-type(2) {
                  strong {
                    font-size: 20px;
                    font-family: var(--main-font);
                    color: #131313;
                  }
                }
              }
            }
          }
          .acoes-produto {
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
            z-index: 3;
            pointer-events: none;
            opacity: 0;
            a.botao-comprar {
              top: calc(100% - 50px);
              background: var(--brown) !important;
              padding: 5px 40px;
              font-size: 13px;
              width: 200px;
              height: 48px;
              padding: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 0;
              &:after {
                content: "COMPRAR";
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
  ul.flex-direction-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    li.flex-nav-prev {
      width: 45px;
      height: 45px;
      left: -50px;
      position: absolute;
      a {
        position: absolute !important;
        width: 45px;
        height: 45px;
        display: block;
        left: 15px !important;
        opacity: 1;
        transform: rotateY(180deg);
        border-radius: 50%;
        background: transparent
          url("https://cdn.awsli.com.br/2444/2444356/arquivos/seta_carroussel.svg")
          center center no-repeat !important;
      }
    }
    li.flex-nav-next {
      width: 45px;
      height: 45px;
      position: absolute;
      right: -30px;
      a {
        position: absolute !important;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: block;
        right: 15px !important;
        opacity: 1;
        font-size: 0 !important;
        color: transparent;
        background: transparent
          url("https://cdn.awsli.com.br/2444/2444356/arquivos/seta_carroussel.svg")
          center center no-repeat !important;
      }
    }
  }
}

@media (max-width: 768px) {
  #listagemProdutos {
    .titulo-categoria {
      &:nth-of-type(1) {
        // margin-top: 20px!important;
      }
    }
    .listagem-linha {
      .listagem-item {
        .acoes-produto {
          padding-bottom: 0;
          display: block !important;
          opacity: 1;
          position: relative;
          transform: none;
          height: auto;
          margin-bottom: 40px;
          a[class="botao botao-comprar principal"] {
            position: relative;
            transform: none;
            top: auto;
            left: auto;
            margin: 0 auto;
            background: transparent !important;
            border: 1px solid var(--brown);
            border-radius: 6px;
            color: var(--brown);
          }
        }
      }
    }
  }

  // TESTE
  .listagem-vitrine-lancamentos {
    position: relative;
    margin: 0 auto;
    > h1 {
      margin-top: -36px !important;
      margin-bottom: 20px;
    }
    > div {
      width: 100vw;
      ul.slides {
        display: flex;
        li {
          float: none !important;
          clear: both;
          padding: 5px;
          > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 0.5s ease;
            &:hover {
              .acoes-produto {
                pointer-events: auto;
                opacity: 1;
              }
            }
            .imagem-produto {
              margin-bottom: 20px;
              position: relative;
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            .has-zoom {
              &:hover {
                img {
                  &:nth-of-type(1) {
                    opacity: 0;
                  }
                  &:nth-of-type(2) {
                    opacity: 1;
                  }
                }
              }
              img {
                &:nth-of-type(1) {
                  position: relative;
                  z-index: 1;
                }
                &:nth-of-type(2) {
                  position: absolute;
                  z-index: 2;
                  opacity: 0;
                }
              }
            }
            .info-produto {
              a {
                font-size: 16px;
                color: #131313;
                font-family: var(--main-font);
                margin-bottom: 16px;
                display: block;
                min-height: 40px;
              }
              .preco-produto {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                min-height: 71px;
                > div {
                  &:nth-of-type(1) {
                    margin-bottom: 10px;
                    .preco-parcela {
                      font-size: 12px;
                      font-family: var(--main-font);
                      color: #131313;
                      strong {
                        font-size: 12px !important;
                      }
                    }
                  }
                  &:nth-of-type(2) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    strong {
                      font-size: 20px;
                      font-family: var(--main-font);
                      color: #131313;
                    }
                  }
                  .preco-a-partir {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                  }
                }
              }
            }
            .acoes-produto {
              display: block!important;
              position: relative;
              top: auto;
              transform: none;
              z-index: 3;
              pointer-events: none;
              opacity: 1;
              width: 100%!important;
              a.botao-comprar {
                width: 100%!important;
                top: auto;
                background: transparent !important;
                padding: 5px 40px;
                font-size: 13px;
                width: 200px;
                height: 48px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0;
                color: var(--brown);
                border: 1px solid var(--brown);
                border-radius:3px;
                &:after {
                  content: "COMPRAR";
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
    ul.flex-direction-nav {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 100;
      display: flex;
      justify-content: space-between;
      li.flex-nav-prev {
        width: 45px;
        height: 45px;
        left: 0;
        position: absolute;
        a {
          position: absolute !important;
          width: 45px;
          height: 45px;
          display: block;
          left: 15px !important;
          opacity: 1;
          transform: rotateY(180deg);
          border-radius: 50%;
          background: transparent
            url("https://cdn.awsli.com.br/2444/2444356/arquivos/seta_carroussel.svg")
            center center no-repeat !important;
        }
      }
      li.flex-nav-next {
        width: 45px;
        height: 45px;
        position: absolute;
        right: 0;
        a {
          position: absolute !important;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          display: block;
          right: 15px !important;
          opacity: 1;
          font-size: 0 !important;
          color: transparent;
          background: transparent
            url("https://cdn.awsli.com.br/2444/2444356/arquivos/seta_carroussel.svg")
            center center no-repeat !important;
        }
      }
    }
  }
}
