// NEWSLETTER
#barraNewsletter.posicao-rodape {
  position: relative;
  z-index: 10;
  background: #faeee5 !important;
  margin: 50px 0;
  &:before {
    content: "Novidades";
    position: absolute;
    top: -59px;
    width: 100%;
    text-align: center;
    font-family: var(--secundary-font);
    text-align: center;
    color: var(--brown) !important;
    font-size: 60px !important;
  }
  .content-bg-news {
    width: 300px;
    height: 300px;
    background: url("https://cdn.awsli.com.br/2444/2444356/arquivos/bgnews.png") center center no-repeat;
    z-index: -100;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    background-size: contain;
  }
  .conteiner {
    background: transparent !important;
    .row-fluid {
      > div.span {
        width: 60%!important;
      }
    }
    .componente {
      background: transparent !important;
      .interno {
        background: transparent !important;
        .interno-conteudo {
          flex-direction: column;
          > p {
            font-size: 18px;
            color: var(--brown);
            margin: 0 0 25px 0;
            width: 100%;
            display: block;
            text-align: left;

            &::before {
              display: none;
            }
            &:last-of-type {
              margin-top: 17px;
            }
          }
          .newsletter-cadastro.input-conteiner {
            width: 100%;
            display: flex;
            gap: 20px;
            input {
              border-radius: 20px;
              border: 1px solid var(--brown);
              width: 80%;
              height: 40px;
            }
            button.botao-input {
              width: 136px;
              height: 40px;
              position: relative;
              background: var(--brown);
              border-radius: 20px;
              color: #fff;
              font-size: 12px !important;
              display: flex;
              justify-content: center;
              align-items: center;
              &:before {
                content: "CADASTRAR";
                width: 100% !important;
                position: relative;
                background: transparent;
                padding: 0;
                margin: 0;
                top: auto;
                left: auto;
                font-family: var(--main-font);
              }
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #barraNewsletter.posicao-rodape {
    border-radius: 20px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    .conteiner {
      .row-fluid {
        div.span {
          width: 100%!important;
          min-width: 100%!important;
          .componente {
            .interno {
              .interno-conteudo {
                .newsletter-cadastro.input-conteiner {
                  flex-direction: column;
                  input {
                    width: 100%;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    
  }
}