.cabecalho-interno {
  display: block;
}
.radio-conteiner {
  background: var(--brown);
}
.content-top-bar {
  .content-center {
    p {
      font-size: 13px;
    }
  }
  a {
    font-size: 13px
  }
}
.main-header {
  justify-content: center!important;
  > div {
    &:nth-of-type(1) {

    }
    &:nth-of-type(2) {
      display: none;
    }
  }
}
.cliente-editar-dados-link {
  font-size: 12px;
  color: var(--brown)
}
.carrinho-checkout {
  .logo-mt {
    align-items: center;
  }
  .cor-secundaria, .cor-principal {
    color: var(--brown);
  }
  .conteiner-principal {
    padding-top: 200px;
  }
  .campos-pedido {
    .icon-list, .icon-map-marker, .icon-money, .icon-list-alt, .icon-comment {
      display: none!important;
    }
    > div {
      .resumo-compra {
        table.tabela-carrinho {
          border: 0;
          thead {
            border: 1px solid rgba($color: #000000, $alpha: .2)!important;
            tr {
              th {
                border: 0!important;
                background: transparent;
              }
            }
          }

          tbody {
            tr.bg-dark {
              background: transparent;
              border: 1px solid rgba($color: #000000, $alpha: .2)!important;
              th {
                border: 0!important;
                background: transparent;
              }
            }
            .tr-checkout-total {
              span {
                font-size:13px!important;
                font-family: var(--main-font);
              }
            }
            tr {
              .padding-preco {
                strong {
                  font-weight: 600;
                  font-family: var(--main-font);
                }
              }
              td {
                &:nth-of-type(2) {
                  span {
                    font-size:13px!important;
                  }
                }
              }
              &:nth-of-type(1) {
                td[data-produto-id] {
                  .produto-info {
                    color: var(--brown);
                    font-weight: 600;
                    padding: 20px 0;
                    ul {
                      li {
                        span {
                          color: #131313!important;
                          font-weight: 500;
                        }
                      }
                    }
                  }
                }
              }

              &:nth-of-type(2) {

              }
            }
          }
        }
      }
    }

    #formularioCheckout {
      #finalizarCompra {
        width: 100%;
        height: 48px;
        background: var(--brown);
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 6px;
        border: 0;
        padding: 0 20px;
        font-size: 14px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        i {
          display: none;
        }
      }
    }
  }
}