.pagina-carrinho {
  .conteiner-principal {
    padding-top: 200px;
    #corpo {
      .breadcrumbs {
        display: none;
      }
    }
    .finalizar-compra {
      .cabecalho-interno {
        .titulo {
          font-size: 20px;
          color: var(--brown);
          span {
            color: var(--grey);
          }
        }
      }
      table.tabela-carrinho {
        thead {
          tr {
            background: transparent;
            h6.cor-secundaria {
              color: var(--brown);
            }
          }
        }
        tbody {
          .bg-dark {
            background: transparent !important;
          }
          tr[data-produto-id] {
            .conteiner-imagem {
            }
            .produto-info {
              > a {
                color: var(--brown);
                font-weight: 600;
              }
            }
            .preco-produto.destaque-parcela {
              strong {
                color: var(--brown);
                font-family: var(--main-font);
              }
            }
            .quantidade {
              a {
                color: var(--brown);
              }
              input {
                border-radius: 8px;
              }
            }
            .preco-produto {
              strong {
                color: var(--brown);
                font-family: var(--main-font);
              }
            }
            .excluir {
              a {
                color: var(--brown) !important;
              }
            }
          }
        }
        tr {
          &:nth-of-type(3) {
            #formCalcularFrete {
              .control-group {
                label[for="calcularFrete"] {
                  font-family: var(--main-font);
                }
                .controls {
                  .input-append {
                    input#calcularFrete {
                      height: 32px;
                    }
                    button {
                      height: 32px;
                      border-radius: 0 10px 10px 0;
                      background: var(--brown);
                      color: #fff;
                      outline: none !important;
                      padding: 0 20px;
                      font-family: var(--main-font);
                      i {
                        display: none;
                      }
                    }
                  }
                  .help-inline {
                    a {
                      color: #000;
                      i {
                        color: var(--brown);
                      }
                    }
                  }
                }
              }
            }
            .formas-envio {
              ul {
                li {
                  label.radio {
                    .prazo {
                      font-weight: 500;
                      color: #848484;
                    }
                    .valor {
                      color: #848484;
                      font-weight: 600;
                    }
                    .nome {
                      font-weight: 500;
                      color: #848484;
                    }
                  }
                }
              }
            }
          }
        }
        .total {
          strong {
            color: var(--brown);
            font-family: var(--main-font);
          }
        }
        div.subtotal {
          strong {
            color: var(--brown);
            font-family: var(--main-font);
          }
        }
      }
    }
    .acao-editar {
      > div {
        display: flex;
        align-items: center;
        justify-content: end;
      }
      .botao {
        border-radius: 6px;
        text-transform: uppercase;
        box-shadow: 0px 3px 6px #00000029;
        font-size: 12px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
      }
      a.botao {
        color: var(--grey);
      }
      button.botao {
        background-color: var(--brown);
        color: #fff;
        border: 1px solid var(--brown);
        padding: 0 50px;
        i {
          display: none;
        }
      }
    }
  }

  .caixa-destaque {
    > h1 {
      color: var(--brown);
      font-family: var(--main-font);
      font-weight: 500;
    }
    .botao {
      font-family: var(--main-font);
      border-radius: 6px;
      text-transform: uppercase;
      box-shadow: 0px 3px 6px #00000029;
      font-size: 12px;
      background: var(--brown);
      padding: 10px 30px;
    }
  }
}

#login-content {
  .identificacao {
    .identificacao-inner {
      .identificacao-title {
        font-size: 16px;
        font-family: var(--main-font);
        color: var(--brown);
      }
      #formularioLogin {
        .control-group {
          input {
            height: 30px;
            padding: 0 0 0 10px;
            font-size: 14px;
          }
          .submit-email {
            height: 30px;
            padding: 0 19px;
            background: var(--brown);
            font-size: 14px;
            border-radius: 8px;
            box-shadow: 0px 3px 6px #00000029;
            border: 1px solid var(--brown);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .pagina-carrinho .conteiner-principal .acao-editar > div {
    flex-direction: column;
    align-items: flex-end;
    button {
      width: 100%;
    }
  }
}
