// NEWSLETTER
#barraNewsletter.posicao-rodape {
  background: #faeee5 !important;
  .conteiner {
    background: transparent !important;
    .row-fluid {
      > div.span {
        width: 60%!important;
      }
    }
    .componente {
      background: transparent !important;
      .interno {
        background: transparent !important;
        .interno-conteudo {
          flex-direction: column;
          > p {
            font-size: 18px;
            color: var(--brown);
            margin: 0 0 25px 0;
            width: 100%;
            display: block;
            text-align: left;

            &::before {
              display: none;
            }
            &:last-of-type {
              margin-top: 17px;
            }
          }
          .newsletter-cadastro.input-conteiner {
            width: 100%;
            display: flex;
            gap: 20px;
            input {
              border-radius: 20px;
              border: 1px solid var(--brown);
              width: 80%;
              height: 40px;
            }
            button.botao-input {
              width: 136px;
              height: 40px;
              position: relative;
              background: var(--brown);
              border-radius: 20px;
              color: #fff;
              font-size: 12px !important;
              display: flex;
              justify-content: center;
              align-items: center;
              &:before {
                content: "CADASTRAR";
                width: 100% !important;
                position: relative;
                background: transparent;
                padding: 0;
                margin: 0;
                top: auto;
                left: auto;
                font-family: var(--main-font);
              }
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #barraNewsletter.posicao-rodape {
    .conteiner {
      .row-fluid {
        div.span {
          width: 100%!important;
          min-width: 100%!important;
          .componente {
            .interno {
              .interno-conteudo {
                .newsletter-cadastro.input-conteiner {
                  flex-direction: column;
                  input {
                    width: 100%;
                    margin: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    
  }
}