#cabecalho {
  width: 100vw;
  position: fixed !important;
  background-color: #fff;
  .conteiner {
    width: 100%;
    max-width: 1270px !important;
  }
}
.content-top-bar {
  position: relative;
  background-color: var(--pink);
  .content-center {
    padding: 0.5rem;
    p {
      text-align: center;
      margin: 0;
      color: var(--black);
      font-weight: 500;
      span {
        font-weight: 700;
      }
    }
    a {
      position: absolute;
      right: 2%;
      top: 50%;
      display: block;
      transform: translateY(-50%);
      color: var(--black);
      text-transform: uppercase;
      font-weight: 500;
      cursor: pointer;
      display: flex;
      align-items: center;
      color: #000;
      text-transform: uppercase;
      span {
        display: block;
        background: url("https://cdn.awsli.com.br/2444/2444356/arquivos/fale_conosco.svg")
          center center no-repeat;
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }
  }
}
#cabecalho.fixed > .conteiner > .main-header {
  position: relative !important;
  left: auto !important;
}

div.main-header {
  margin: 0 !important;
  width: 100% !important;
  .conteudo-topo {
    width: 33% !important;
    justify-content: flex-start !important;
    gap: 20px;

    ul.infos-menu {
      display: none !important;
    }
    .btn-mini-menu {
      width: 35px;
      height: 20px;
      background: url("https://cdn.awsli.com.br/2444/2444356/arquivos/menu.svg")
        center center no-repeat;
      background-size: contain;
      display: none;
    }

    #form-buscar {
      display: flex;
      flex-direction: row-reverse;
      input[type="search"] {
        border: 0;
        outline: none !important;
        border-bottom: 1px solid var(--pink-light);
        font-family: var(--main-font);
        &:focus {
          outline: none !important;
        }
      }
      button {
        padding: 0;
        height: 40px;
        width: 20px;
        background: transparent;
        color: var(--pink);
        border-bottom: 1px solid var(--pink-light);
        &::before {
          content: '';
          width: 18px;
          height: 18px;
          background: transparent
            url("https://cdn.awsli.com.br/2444/2444356/arquivos/lupa.svg")
            center center no-repeat;
        }
      }
    }
    + div {
      width: 33%;
      h1 {
        width: auto;
        a {
          transition: all 0.5s ease;
        }
      }
    }
  }
  .conteudo-actions {
    width: 33%;
    justify-content: flex-end !important;
    gap: 20px;
    .btn-contact {
      display: none;
    }
    ul.actions-menu {
      width: auto !important;
      .busca {
        display: none !important;
      }
      li {
        a {
          width: 20px;
          height: 20px;
          i {
            display: none;
          }
        }
        &:nth-of-type(2) {
          a {
            background: url("https://cdn.awsli.com.br/2444/2444356/arquivos/favorite-nobg.svg")
              center center no-repeat;
          }
          &:hover {
            a {
              background: url("https://cdn.awsli.com.br/2444/2444356/arquivos/favorito-bg.svg")
                center center no-repeat;
            }
          }
        }
        &:nth-of-type(3) {
          display: none;
        }
        &:nth-of-type(4) {
          a {
            background: url("https://cdn.awsli.com.br/2444/2444356/arquivos/entrar.svg")
              center center no-repeat;
          }
        }
        &:nth-of-type(5) {
          display: none;
        }
        .submenu {
          background: var(--pink) !important;
          display: none!important;
          &::after {
            border-bottom-color: var(--pink) !important;
          }
        }
      }
      li.menu-carrinho {
        .carrinho {
          position: relative !important;
          animation: none !important;
          .carrinho-interno-ajax {
            display: none !important;
          }
          > a {
            width: 20px;
            height: 20px;
            background: url("https://cdn.awsli.com.br/2444/2444356/arquivos/carrinho.svg")
              center center no-repeat;
            background-size: contain;
            .qtd-carrinho {
              display: block;
              position: absolute !important;
              top: -9px !important;
              left: auto !important;
              right: -10px !important;
              min-width: 15px;
              z-index: 1;
              margin: auto;
              padding: 4px 4px 1px 5px;
              color: #fff;
              font-size: 10px;
              font-weight: 700;
              line-height: 1;
              box-sizing: border-box;

            text-align: center!important;
              &:before {
                background-color: #000 !important;
                width: 15px;
                height: 15px;

              }
            }
          }
        }
        i {
          color: var(--secundaria) !important;
        }
      }
    }
  }
}
#cabecalho.fixed > .conteiner > .main-header .carrinho > a .qtd-carrinho {
  top: 7px !important;
  .qtd-carrinho {
    display: block;
    position: absolute !important;
    top: -9px !important;
    left: auto !important;
    right: -10px !important;
    min-width: 15px;
    z-index: 1;
    margin: auto;
    padding: 4px 4px 1px 5px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    box-sizing: border-box;
    &:before {
      background-color: #000 !important;
    }
  }
}
.menu.superior {
  background: #fff !important;
  display: block;
  ul.nivel-um {
    width: 100%;
    justify-content: space-between !important;
    > li {
      > a {
        strong {
          margin: 0.2rem 0;
        }
        &:hover {
          background-color: var(--brown);
          strong {
            color: #fff !important;
          }
        }
      }
      
    }
    li[class^="categoria-id-"] {
      > a {
        color: #000 !important;
        font-size: 14px !important;
        margin: 0.2rem 1rem;

        strong {
          text-transform: uppercase !important;
          font-family: var(--main-font) !important;
        }
      }
      > a[title="Sale"] {
        background-color: var(--brown)!important;
        strong {
          color: #FFF!important;
        }
      }
    }
    li.com-filho {
      > a {
        color: #000 !important;
        font-size: 14px !important;
        strong {
          text-transform: uppercase !important;
          font-family: var(--main-font) !important;
        }
      }
      .nivel-dois {
        width: 309px;
        border-radius: 0 0 20px 20px;
        box-shadow: 0px 3px 6px #00000029;
        top: 33px;
        li {
          width: 50%;
          margin: 0 !important;
          a {
            font-family: var(--main-font) !important;
          }
        }
      }
    }
  }
}

// MINI HEADER
.mini-header {
  background: rgba($color: #FFF, $alpha: .85)!important;
  > .conteiner {
    background-color: transparent !important;
  }
  .content-top-bar {
    display: none;
  }
  .conteudo-topo {
    .btn-mini-menu {
      display: block !important;
      cursor: pointer;
    }
    div.menu-hidden {
      display: none;
    }
    #form-buscar {
      .ui-autocomplete-input {
        background: transparent!important;
      }
    }
  }
  h1.logo,
  h2.logo {
    a {
      height: 60px;
    }
  }
  .conteudo-actions {
    .btn-contact {
      display: flex !important;
      align-items: center;
      width: 50%;
      justify-content: flex-end;
      color: #000;
      text-transform: uppercase;
      span {
        display: block;
        background: url("https://cdn.awsli.com.br/2444/2444356/arquivos/fale_conosco.svg")
          center center no-repeat;
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }
  }
  .menu-hidden {
    display: none;
  }
  .menu.superior {
    background: transparent!important;
  }
}
// MAIN BANNER
.secao-banners {
  .banner {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .cheio {
    display: none!important;
  }
}
#corpo {
  > .conteiner {
    padding-top: 0;
  }
}


@media (max-width: 768px) {
  body {
    padding-top: 227px;
  }
  #cabecalho {
    width: 100vw!important;
    &::before {
      display: none !important;
    }
    .conteiner {
      .main-header {
        .conteudo-topo.span3.hidden-phone {
          .menu-handler {
            position: relative !important;
            width: 35px;
            height: 20px;
            background: url("https://cdn.awsli.com.br/2444/2444356/arquivos/menu.svg")
              center center no-repeat;
            background-size: contain;
            &::before {
              display: none !important;
            }
          }
        }
        > .span6 {
          h1.logo {
            margin: 0 auto;
          }
          h2.logo {
            display: none!important;
          }
        }
        .busca {
          width: 90%;
          margin: 0;
          > button {
            display: none;
          }
          #form-buscar {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            input[type="search"] {
              width: 100%;
              border: 0;
              outline: none !important;
              border-bottom: 1px solid var(--pink-light);
              font-family: var(--main-font);
              &:focus {
                outline: none !important;
              }
            }
            button {
              position: relative !important;
              padding: 0;
              height: 40px;
              width: 10%;
              background: transparent;
              color: var(--pink);
              border-bottom: 1px solid var(--pink-light);
            }
          }
        }
        .conteudo-actions {
          width: 90% !important;
          margin: 0 auto;
          display: flex !important;
          justify-content: space-between !important;
          button.menu-handler {
            position: relative !important;
            width: 32px !important;
            &::before {
              content: "";
              width: 32px !important;
              height: 32px !important;
              background: url("https://cdn.awsli.com.br/2444/2444356/arquivos/menu.svg")
                center center no-repeat;
            }
          }
          ul.actions-menu {
            display: flex !important;
            gap: 20px;
            padding: 0;
            justify-content: center !important;
            li {
              max-width: 20px;
            }
            li.visible-phone {
              display: none !important;
            }
            li.menu-carrinho {
              position: relative;
              .carrinho {
                a {
                  width: 20px;
                  .qtd-carrinho {
                    top: 7px !important;
                    color: #fff !important;
                  }
                }
              }
            }
          }
        }
      }
    }
    // MINI HEADER MOBILE
    .mini-header-mobile {
      display: flex;
      flex-direction: row !important;
      background-color: var(--pink);
      .content-top-bar {
        display: none;
      }
      .conteudo-topo.span3.hidden-phone {
        width: 33% !important;
        display: flex !important;
        align-items: center;
        min-height: auto !important;
        gap: 20px;
        .menu-handler {
          display: block !important;
          position: relative !important;
          &::before {
            content: "";
            width: 20px !important;
            background: url("https://cdn.awsli.com.br/2444/2444356/arquivos/menu.svg")
              center center no-repeat;
          }
        }
        .toggle-search {
          width: 20px !important;
          height: 20px !important;
          background: transparent
            url("https://cdn.awsli.com.br/2444/2444356/arquivos/lupa.svg")
            center center no-repeat;
          i {
            display: none;
          }
        }
      }
      .busca {
        display: none;
      }
      .span6 {
        width: 33% !important;
        h1 {
          width: 100% !important;
          padding: 0 !important;
          a {
            display: block;
            height: auto;
            img {
              position: relative;
              margin: 0.5rem 0;
            }
          }
        }
      }
      .content-search-mobile {
        position: fixed;
        top: 74px;
        width: 100% !important;
        background: #fff;
        left: 0;
        display: none;
      }
      .content-search-mobile-show {
        display: block !important;
      }
      nav.conteudo-topo.span3.conteudo-actions {
        width: 33% !important;
        max-width: 33% !important;
        justify-content: flex-end !important;
        .menu-handler {
          display: none !important;
        }
        .actions-menu {
          gap: 10px !important;
        }
      }
    }
    .menu {
      overflow-y: auto!important;
      &::after {
        width: 15px !important;
        height: 15px !important;
        right: 16px !important;
        left: auto !important;
        content: "" !important;
        background: url(https://cdn.awsli.com.br/2444/2444356/arquivos/close.svg)
          center center no-repeat !important;
        top: 15px !important;
      }
      .top-menu {
        width: 90%;
        margin: 0 auto;
        padding: 15px 0;
        border-bottom: 1px solid var(--pink-light);
        font-weight: 600;
        display: block;
      }
      ul.nivel-um {
        display: block !important;
        .titulo {
          font-weight: 400 !important;
        }
        .opened {
          > a {
            background: transparent!important;
            strong {
              color: var(--brown)!important;
            }
          }
        }
        li[class^="categoria-id-"] {
          background: transparent!important;
          > a {
            margin: 0;
          }
          > a[title="Sale"] {
            background-color: var(--brown)!important;
            display: inline-block;
            margin-left: 15px;
            strong {
              color: #FFF!important;
            }
          }
        }
        
        li.com-filho {
          > a {
            &::after {
              content: "+";
            }
          }
        }
        li.com-filho.opened {
          > a {
            &::after {
              content: "-";
            }
          }
        }
        > li {
          > a {
            color: var(--brown) !important;
            text-transform: uppercase;
            font-weight: 400;
          }
          .nivel-dois {
            border-radius: 0 !important;
            box-shadow: 0 0 0 transparent !important;
            height: 0;
            overflow: hidden;
            transition: all 0.5s ease;
            li {
              a {
                font-weight: 400 !important;
                &::before {
                  display: none !important;
                }
              }
            }
          }
          .show-menu-dois {
            height: auto !important;
          }
        }
      }
    }
  }
  ul.ui-widget-content {
    width: 83% !important;
    top: 185px !important;
    left: 0px !important;
  }
  .content-top-bar {
    a {
      display: none !important;
    }
  }

  

  
}
