#cabecalho {
  width: 100vw;
  position: fixed!important;
}
.content-top-bar {
  position: relative;
  background-color: var(--pink);
  .content-center {
    padding: .5rem;
    p {
      text-align: center;
      margin: 0;
      color: var(--black);
      font-weight: 500;
      span {
        font-weight: 700;
      }
    }
    a {
      position: absolute;
      right: 2%;
      top: 50%;
      display: block;
      transform: translateY(-50%);
      color: var(--black);
      text-transform: uppercase;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
#cabecalho.fixed>.conteiner>.main-header {
  position: relative;
}